//-
  // -----------------------------------------------------------------------------
  // Error page view.
  // -----------------------------------------------------------------------------
extends layout

block content
  main
    div The website has encountered an error, apologies for the inconvenience.