//-
  // -----------------------------------------------------------------------------
  // 'Index' page view.
  // -----------------------------------------------------------------------------
extends layout

block content
  main